version: "3.8"
services:
  squid:
    image: sameersbn/squid:latest
    container_name: squid-proxy
    ports:
      - "3128:3128"
    volumes:
      - ./squid-conf:/etc/squid3:ro
      - squid-cache:/var/spool/squid
    restart: unless-stopped

volumes:
  squid-cache: